<ion-content class="content activ-tip-bg active-refreshLife active-orange">
    <div class="notice notice-move" id="scrollDiv" style="top:0px;" ng-show="'0' == dateTime.timeFlag">
        <!--<i class="icon-notice"></i>-->
        <ul>
            <!--<li><span>139****8207已兑换100元京东E卡</span></li>-->
            <!--<li><span>139****7051已兑换50元话费</span></li>-->
            <!--<li><span>159****6333已兑换100元天猫卡</span></li>-->
            <!--<li><span>137****9203已兑换100元话费</span></li>-->
            <!--<li><span>186****5858已兑换50元京东E卡</span></li>-->
            <!--<li><span>183****7889已兑换50元唯品卡</span></li>-->
            <!--<li><span>139****7698已兑换100元1号店</span></li>-->
            <!--<li><span>150****8424已兑换50元话费</span></li>-->
            <!--<li><span>152****9532已兑换100元京东E卡</span></li>-->
            <!--<li><span>180****4855已兑换100元话费</span></li>-->
            <!--<li><span>158****4158已兑换50元京东E卡</span></li>-->
            <!--<li><span>182****4008已兑换100元天猫卡</span></li>-->
            <!--<li><span>138****4920已兑换100元话费</span></li>-->
        </ul>
    </div>
    <div class="activ-n activ-n02">
        <img src="http://pic.ofpay.com/cards/youzheng/img/activity-theme-orange.jpg" alt="">
    </div>
    <form action="">
        <ul class="activ-form activ-form02">
            <div class="logo-activity">
                <i class="logo-activity"></i>
            </div>
            <label for="" ng-if="'' == data.randomId">
                <input type="tel" ng-model="data.mobileNo" placeholder="请输入您的手机号码">
            </label>
            <div class="row" ng-if="'' == data.randomId">
                <div class="row-left">
                    <input type="tel" name="idenCode" ng-model = "data.verifyCode" placeholder="请输入验证码">
                </div>
                <div class="row-right">
                    <button class="activ-btn" type="button" ng-class="{disabled:idenCodeData.isGet}" ng-click="getIdenCode()">{{idenCodeData.title}}</button>
                </div>
            </div>

            <div class="row" ng-if="'' != data.randomId">
                <div class="row-left">
                    <input class="input-color" type="text" value="{{data.mobileNo}}" disabled>
                </div>
                <div class="row-right">
                    <button class="activ-btn" type="button" ng-click="updateMobileNo()">修改</button>
                </div>
            </div>

            <button class="activ-btn activ-btn-19" type="button" ng-disabled="data.isSub" ng-click="check('1')">立即兑换</button>
            <!--<button class="activ-btn activ-btn-19" type="button" ng-disabled="data.isSub" ng-click="check('2')">查询兑换券</button>-->
        </ul>

    </form>
    <div class="gift-notes gift-notes02" ng-click="showDesc()">
        <p class="tc">
            <span>--------</span>
            <span>活动说明</span>
            <span>--------</span>
        </p>
    </div>
    <div class="gift-notes gift-notes02" style="height: 800px;">
        <ul ng-show="data.isShowDesc">
            <li>1、<span>“刷邮储信用卡 悦享买买买”</span>的抢兑时间为<span>每月15日</span>上午<span>10点</span>至<span>24点</span>。<span>每月一次</span>,限当时领取当日兑换。客户当月抢兑成功，不影响下月抢兑资格。当月没有抢兑成功的客户，当月抢兑资格失效，抢兑资格不计入下一期。</li>
            <li>2、持卡人交易时间以邮储银行系统记录的交易入账时间为准。活动期间内，邮储银行将上月符合抢兑条件的名单以短信方式通知持卡人。</li>
            <li>3、本活动刷卡消费仅针对我行信用卡线下有积分消费及网上消费，包含中国大陆、港澳地区及境外消费。刷卡交易范围不含取现交易、还款交易、各种利息和手续费用、手工调账、退货、冲正交易、有争议交易。</li>
            <li>4、本活动开始至获奖名单产生前，未按时还款、未还足最低还款额、账户状态不正常、销户，具有以上情形之一的持卡人不能参加本次活动。</li>
            <li>5、活动期间，每张卡号每月仅能参加一次抢兑，一经抢兑成功，不得再次抢兑。</li>
            <li>6、本次活动提供包括京东，天猫，1号店，唯品会，亚马逊等五种电子券以及话费充值，其中电子券有效期为自获得之日起三年内使用有效。</li>
            <li>7、我行信用卡主卡、附属卡持卡人均可参加此次活动，主卡，附卡消费金额分开计算，分别参与抢券活动。</li>
            <li>8、一切有关礼品可能产生的纠纷，均由礼品供应商负责。持卡人可致电客服电话<span>025-69828520</span>或者发送邮件至<span>service_feihan@163.com</span> 咨询，由礼品供应商协助持卡人解决。</li>
            <li>9、在法律允许范围内，中国邮政储蓄银行江苏省分行将保留对本次活动变更、延迟或提前终止的权利。</li>
            <li><a class="tip-service" href="http://kefu.easemob.com/webim/im.html?tenantId=12358"><i></i>在线客服</a></li>
        </ul>
    </div>
</ion-content>

<div class="modal-backdrop modal-backdrop01" ng-show="'1' == dateTime.timeFlag">

    <div class="time-bg">
        <img src="http://pic.ofpay.com/cards/youzheng/img/time.png" alt="倒计时">
        <!--<a class="close"></a>-->
        <div class="box-time">
            <input type="text" id="time_d" ng-model="dateTime.days"><!--天-->
            <input type="text" id="time_h" ng-model="dateTime.hours"><!--时-->
            <input type="text" id="time_m" ng-model="dateTime.minuts"><!--分-->
            <input type="text" id="time_s" ng-model="dateTime.seconds"><!--秒-->
        </div>
    </div>
</div>