<div class="bar bar-header bar-positive bar-positive-01">
    <a class="button button-clear button-positive button-blue" ui-sref="gamerecharge">取消</a>
    <h1 class="title">游戏直充</h1>
</div>
<ion-content class="content content-01 has-header">
        <div class="list list-bar mt5">
            <div class="item recharge-input" ng-if="''!=gameInfo">
                <img src="http://pic.ofcard.com/cards/standard/img/{{gameInfo.icon}}">
                <p class="region">{{gameInfo.name}}</p>
            </div>
        </div>
        <div class="recharge-p-list" style="margin-bottom: 0px;">
            <ul class="row row-wrap clearfix">
                <li class="col-33" ng-repeat="item in gameInfo.faceValueList">
                    <a ng-if="!item.arbitrary" class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                        <h3>{{item.faceName}}</h3>
                        <p ng-if="!item.stock">暂时缺货</p>
                        <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                    </a>
                    <a ng-class="{'row-input-p':item.stock,'checked':''!=data.arbitraryNum}"  ng-if="item.arbitrary" >
                        <input id="arbitrarycharge"  type="tel" placeholder="任意充" ng-model="data.arbitraryNum" ng-disabled="!item.stock"
                                ng-blur="clearArbitraryAmountError('2')" ng-focus="clearArbitraryAmountError('1')" ng-change="checkArbitraryAmount('1')"/>
                        <p ng-if="''!= data.arbitraryNum">售价{{data.cash}}元</p>
                    </a>
                </li>
            </ul>
            <ul class="row row-wrap row-block" ng-if="''!= orderForm.cardId">
                <li class="col-33 col-100 recharge-bill ptb0 mt5">
                    <p href="#">购买数量:（{{data.purNum}}）</p>
                    <div class="num-small" ng-if="!data.isArbitrary">
                        <label>
                            <input type="text" ng-model="data.cardNum" ng-change="checkCardNum('1')"/>
                        </label>
                        <a class="num-small-btn num-small-fl" ng-click="checkCardNum('2')"></a>
                        <a class="num-small-btn num-small-fr" ng-click="checkCardNum('3')"></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list list-p mb0">
            <!--<div class="item recharge-input recharge-input-small" ng-if="!data.isBattleAccount">-->
                <!--<input type="text" id="gameCount" placeholder="请输入游戏账号" ng-model="data.gameCount" ng-focus="checkGameCount('1')" ng-blur="checkGameCount('2')">-->
            <!--</div>-->

            <div class="list mb0" ng-if="!data.isBattleAccount">
                <div class="item recharge-input recharge-input-small item-position">
                    <input type="text" id="gameCount" ng-model="data.gameCount" ng-change="checkGameCount('7')" ng-focus="checkGameCount('1')" ng-blur="checkGameCount('2')" placeholder="请输入或选择游戏账号">
                    <i class="icon-close-01 icon-close" ng-show="'' != data.gameCount" ng-click="clearError('2')"  style="top: 20px;"></i>
                    <i class="icon-close-01 icon-clock" ng-show="'' == data.gameCount" ng-click="showGCCookie()" style="top: 16px;"></i>
                    <p>游戏账号</p>
                </div>
                <div class="item recharge-input-p" ng-show="!data.hasGCCookie && data.showGCCookie">
                    <p class="item-note-center pt15">没有最近的充值记录</p>
                </div>
                <div class="item recharge-input-p recharge-record" ng-show="data.hasGCCookie && data.showGCCookie">
                    <div ng-repeat="gameNo in gameNoes|filter:data.gameCount">
                        <p class="item-note-center item-note-p" ng-click="chooseGCNo(gameNo)">{{gameNo}}</p>
                    </div>
                    <a href="#" class="item-note-center" ng-click="clearGCCookie()">清空历史记录</a>
                </div>
            </div>


            <!--<div class="item recharge-input recharge-input-small" ng-if="data.isBattleAccount">-->
                <!--<input type="text" id="battleAccount" placeholder="请输入通行证账号" ng-model="data.battleAccount" ng-focus="checkGameCount('3')" ng-blur="checkGameCount('4')">-->
            <!--</div>-->

            <div class="list mb0" ng-if="data.isBattleAccount">
                <div class="item recharge-input recharge-input-small item-position">
                    <input type="text" id="battleAccount" ng-model="data.battleAccount" ng-change="checkGameCount('8')" ng-focus="checkGameCount('3')" ng-blur="checkGameCount('4')" placeholder="请输入或选择通行证账号">
                    <i class="icon-close-01 icon-close" ng-show="'' != data.battleAccount" ng-click="clearError('3')"  style="top: 20px;"></i>
                    <i class="icon-close-01 icon-clock" ng-show="'' == data.battleAccount" ng-click="showBCCookie()" style="top: 16px;"></i>
                    <p>通行证号</p>
                </div>
                <div class="item recharge-input-p" ng-show="!data.hasBCCookie && data.showBCCookie">
                    <p class="item-note-center pt15">没有最近的充值记录</p>
                </div>
                <div class="item recharge-input-p recharge-record" ng-show="data.hasBCCookie && data.showBCCookie">
                    <div ng-repeat="battleNo in battleNoes|filter:data.battleAccount">
                        <p class="item-note-center item-note-p" ng-click="chooseBCNo(battleNo)">{{battleNo}}</p>
                    </div>
                    <a href="#" class="item-note-center" ng-click="clearBCCookie()">清空历史记录</a>
                </div>
            </div>

            <div class="item-checkbox item-checkbox-01" ng-if="data.isBattleAccount">
                <label class="checkbox">
                    <input type="checkbox" class="checkbox-icon checked" ng-click="makeOnlyAccount()" ng-checked="data.chooseBattleAccount">
                </label>
                该账号下只有一个“魔兽账号”
            </div>

            <!--<div class="item recharge-input recharge-input-small mt0" ng-if="data.isBattleAccount && !data.chooseBattleAccount">-->
                <!--<input type="text" id="gameAccount" placeholder="请输入需要充值的游戏账号" ng-model="data.gameCount" ng-focus="checkGameCount('5')" ng-blur="checkGameCount('6')">-->
            <!--</div>-->

            <div class="list mb0" ng-if="data.isBattleAccount && !data.chooseBattleAccount">
                <div class="item recharge-input  recharge-input-small item-position">
                    <input type="text" id="gameAccount" ng-model="data.gameCount" ng-change="checkGameCount('7')" ng-focus="checkGameCount('5')" ng-blur="checkGameCount('6')" placeholder="请输入或选择游戏账号">
                    <i class="icon-close-01 icon-close" ng-show="'' != data.gameCount" ng-click="clearError('2')"  style="top: 20px;"></i>
                    <i class="icon-close-01 icon-clock" ng-show="'' == data.gameCount" ng-click="showGCCookie()" style="top: 16px;"></i>
                    <p>游戏账号</p>
                </div>
                <div class="item recharge-input-p" ng-show="!data.hasGCCookie && data.showGCCookie">
                    <p class="item-note-center pt15">没有最近的充值记录</p>
                </div>
                <div class="item recharge-input-p recharge-record" ng-show="data.hasGCCookie && data.showGCCookie">
                    <div ng-repeat="gameNo in gameNoes|filter:data.gameCount">
                        <p class="item-note-center item-note-p" ng-click="chooseGCNo(gameNo)">{{gameNo}}</p>
                    </div>
                    <a href="#" class="item-note-center" ng-click="clearGCCookie()">清空历史记录</a>
                </div>
            </div>

            <a class="item item-icon-right item-select recharge-input recharge-input-small" ng-if="'' != gameAreas" ng-click="showGameAreaService('1')">
                <p>请选择游戏大区：{{orderForm.gameArea}}</p>
                <i class="icon ion-ios7-arrow-right"></i>
            </a>

            <a class="item item-icon-right item-select recharge-input recharge-input-small" ng-if="'' != gameServices && '' != orderForm.gameArea" ng-click="showGameAreaService('2')">
                <p>请选择游戏服：{{orderForm.gameServer}}</p>
                <i class="icon ion-ios7-arrow-right"></i>
            </a>
        </div>

        <p class="error-tip pb5 pl15 pt5" ng-show="''!=errorData.errorMsg"><span ng-bind="errorData.errorMsg"></span></p>

        <div class="list mb0">
            <div class="item item-grey item-black recharge-input-small" ng-click="useMarketBill('2')">
                优惠券红包
                <span class="item-note" ng-class="{'active':''!= marketInfo.billId}">{{marketInfo.title}} &gt;</span>
            </div>
        </div>
        <div class="recharge-pay">
            <button class="button button-block button-positive" ng-repeat="item in userData.payList" ng-click="takeOrder($event,item)">立即支付<span class="sum" ng-if="'' != data.cash">：￥{{data.cash}}元</span></button>
        </div>

    <div id="copyright"></div>
</ion-content>
