<div class="bar bar-header bar-positive bar-positive-01">
    <button class="button button-clear button-positive button-blue" type="button" ng-click="chooseGameService('')">取消</button>
    <h1 class="title">选择游戏服</h1>
</div>
<ion-content class="content content-01 content-position body-white">
    <div class="list bB1">
        <a href="" class="item item-icon-right item-list" ng-repeat="item in gameServices" ng-click="chooseGameService(item.areaService)">
            {{item.areaService}}
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
</ion-content>