
<div class="title clearfix">
    <a class="fr" ui-sref="publicQuery">订单中心</a>
    <h2>生活缴费，闪电到帐</h2>
</div>
<div class="content">
    <form class="orderForm orderDetail">
        <ul class="formList">
            <li class="clearfix">
                <span class="label">所在城市：</span>
                <select class="inputTxt selects" style="width: 110px;" ng-options="province.provinceId as province.provinceName for province in provinceList" ng-model="data.provinceId" ng-change="chooseProvince()">
                    <option value="">请选择所在省</option>
                </select>
                <select class="inputTxt selects ml20" style="width: 110px;" ng-show="''!=data.provinceId" ng-options="city.useCityId as city.useCity for city in cityList" ng-model="data.cityId" ng-change="chooseCity()">
                    <option value="">请选择所在市</option>
                </select>
            </li>
            <li class="clearfix">
                <span class="label">缴费项目：</span>
                <span ng-show="''!=data.useCityId">
                    <a class="tag" href="javascript:void(0)" ng-repeat="project in payProjectList" ng-class="{tagChecked:project.choosed}" ng-model="data.projectTypeId" ng-click="choosePayProject(project)">{{project.payProjectName}}</a>
                </span>
            </li>
            <li class="clearfix">
                <span class="label">缴费单位：</span>
                <select class="grey-dark inputTxt selects" ng-options="unit.payUnitId as unit.payUnitName for unit in payUnitList" ng-model="data.payUnitId" ng-change="choosePayUnit()">
                    <option value="">请选择缴费单位</option>
                </select>
            </li>
            <li class="clearfix">
                <span class="label">户号：</span>
                <input class="inputTxt placeholder" placeholder="请输入户号" type="text" ng-model="data.pebarCd" ng-keyup="checkPebarCd()">
            </li>
            <li class="clearfix" ng-show="!data.getBillFlag">
                <span class="label">查询账单：</span>
                <a href="javascript:void(0)" class="btnShow" ng-click="getBill()">{{data.billButton}}</a>
            </li>
            <li ng-show="data.getBillFlag">
                <span class="label">&nbsp;</span>
                <img src="http://pic.ofcard.com/cards/images/loading.gif" alt="" style="width:64px;height:64px;">
            </li>
            <li class="clearfix bill" ng-show="''!=data.peUserName">
                <span class="label">户主：</span>
                {{data.peUserName}}
            </li>
            <li class="clearfix bill" ng-show="''!=data.peAMT">
                <span class="label">欠费金额：</span>
                <span class="orange" style="font-size: 24px;">{{data.peAMT}}</span> 元
            </li>
            <!-- 查不到欠费信息显示如下
            <li class="clearfix bill" ng-show="''==data.peUserName&&''==data.peAMT">
                <span class="label">&nbsp;</span>
                <span class="grey">未查到相关欠费信息</span>
            </li>-->
            <li>
                <span class="label">&nbsp;</span>
                <input class="btn" value="立即缴费" type="button" ng-click="submit()" ng-class = "{btnDisabled:''!=errorData.errorMsg,'btn-baihui':'QTEyNDY0MDg=' == userId}">
                <span class="fail">{{errorData.errorMsg}}</span>
            </li>
        </ul>
    </form>
</div>
<div ng-class = "{intro:true,w942:true}" ng-show="null != currentMenu.pic && '' != currentMenu.pic" style="width: 800px;" class="{{userData.personClass[2]}}">
    <ul ng-class="{clearfix:true}" class="{{userData.personClass[3]}}">
        <!--<li>
            <div ng-class="{intro_li_cc:true}">
                <p class="{{currentMenu.pic}}"><span ng-bind="currentMenu.title"></span></p>
            </div>
        </li> -->
        <li ng-class="{introBg:true}">
            <dl>
                <dt><span ng-bind="currentMenu.descTitle"></span></dt>
                <dd ng-repeat = "item in currentMenu.desc"><span ng-bind="item"></span></dd>
            </dl>
        </li>
        <li ng-show="'' == userData.topClass">
            <phoneserver></phoneserver>
        </li>
        <li ng-show="'vip' == userData.topClass">
            <qqserver></qqserver>
        </li>
        <li ng-show="'jb' == userData.topClass">
            <jbserver></jbserver>
        </li>
    </ul>

</div>



            