<div class="bar bar-header bar-positive bar-refreshLife" ng-show="hasHeader">
    <button class="button button-icon icon ion-ios7-arrow-back" onclick="window.history.go(-1);">返回</button>
</div>

<ion-content class="content active-refreshLife active-green " ng-class="{'has-header':hasHeader}">
    <div class="gift-congra gift-congra01">
    </div>

    <div class="coupons" style="height: 200px;">
        <div class="coupons-item coupons-item01">
            <div class="body-top" ng-show="''!=data.cardPass && 'gift' == data.url">
                <div class="title">
                    <p style="margin-top:10px;">{{data.name}}{{data.billCash}}元</p>
                </div>
            </div>
            <div class="body-top" ng-show="'phoneorder' == data.url">
                <div class="title">
                    <br/>
                    <p>已完成30元话费充值</p>
                    <p>稍后您会收到运营商通知</p>
                </div>
            </div>
            <div class="body-bottom body-bottom01" ng-show="''!=data.cardPass && 'gift' == data.url">
                <p>卡号：{{data.cardNo}}</p>
                <p>卡密：{{data.cardPass}}</p>
            </div>
            <div class="body-bottom body-bottom01" ng-show="''==data.cardPass && 'gift' == data.url" ng-click = "getCard()">
                <p>点击刷新卡号卡密</p>
            </div>
            <!--<div class="body-bottom" ng-show="'phoneorder' == data.url">-->
                <!--<p>稍后您会收到运营商通知</p>-->
            <!--</div>-->
            <i class="coupons-bg-left coupons-success"></i>
            <i class="coupons-bg-right"></i>
            <i class="coupons-bg"></i>
            <p ng-show="'gift' == data.url" style="line-height: 5px;margin-top: 25px;">卡号卡密将以短信形式发送，请注意查收</p>
            <!--<button class="activ-btn" ng-click="share()">炫耀一下</button>-->
        </div>
    </div>

    <div class="gift-notes02">
        <p class="title-line">
            <span></span>
            <span>使用说明</span>
            <span></span>
            <!--<i class="arrow arrow-down"></i>-->
        </p>
        <div class="gift-notes gift-notes02" tyle="height:400px;">
            <ul>
                <li>1.如有问题请联系客服电话:<a href="tel:025-69828520" calss="">025-69828520</a></li>
                <li>2.电子卡密商品不记名、不挂失、遗失不补，请务必妥善保存。因个人原因导致的卡密遗失，损失需个人自行承担。请参考官方说明尽快使用</li>
                <li>3.{{data.desc}}</li>
                <li ng-show="'gift' == data.url">
                    <button type="button" style="margin-top:3px;" ng-click="goDetail()" ng-show="''!=data.descUrl">礼品使用方法</button>
                </li>
            </ul>
        </div>
    </div>


</ion-content>