<div class="title clearfix">
    <a class="fr" ui-sref="gamerecharge">返回充值</a>
    <h2>充值记录查询</h2>
</div>
<div class="content">
    <!--div class="subTitle">唯品会卡</div-->
    <form class="orderForm">
        <ul>
            <li><span class="label">查询方式：</span>
                <a class="tag" ng-class="{tagChecked:orderForm.type == '1'}" href="javascript:void(0)" ng-click="chooseSearchType('1')">充值账号查询</a>
                <a class="tag" ng-class="{tagChecked:orderForm.type == '2'}" href="javascript:void(0)" ng-click="chooseSearchType('2')">魔兽账号查询</a>
            </li>
            <li class="tip clearfix" ng-show="orderForm.type == '1'">
                <span class="label">充值账号：</span>
                <input class="inputTxt placeholder" name = "account" ng-trim = "true" ng-model = "orderForm.rechargeAccount" placeholder="充值账号" type="text" ng-keyup="checkAccount('1')">
                <div class="error" ng-show="'' != errorData.errorMsg">{{errorData.errorMsg}}</div>
            </li>
            <li class="tip clearfix" ng-show="orderForm.type == '2'">
                <span class="label">通行证账号：</span>
                <input class="inputTxt placeholder" ng-trim = "true" ng-model = "orderForm.battleAccount" placeholder="通行证账号" type="text" ng-keyup="checkAccount('2')" ng-blur="checkBattleAccount()">
                <div class="error" ng-show="'' != errorData.errorMsg">{{errorData.errorMsg}}</div>
            </li>
            <li class="tip clearfix" ng-show="orderForm.type == '2'">
                <span class="label">游戏账号：</span>
                <input class="inputTxt placeholder" ng-trim = "true" ng-model = "orderForm.gameAccount" placeholder="游戏账号" type="text" ng-keyup="checkAccount('3')">
            </li>
            <li>
                <span class="label">&nbsp;</span>
                <input class="btn" value="查询" ng-class="{btnDisabled:orderForm.$invalid || '' != errorData.errorMsg}" type="button" ng-click = "search()">
                <input class="btn" value="重置" type="button" ng-click = "reset()">
            </li>
        </ul>
    </form>

    <div class="orderResults" ng-show="orderForm.searchFlag">
        <div class="subTitle">查询结果</div>
        <table id="dataTable">
            <thead>
            <tr>
                <th>订单号</th>
                <th width="68">订单时间</th>
                <th>商品信息</th>
                <th>购买数量</th>
                <th>充值账号</th>
                <th>订单金额*</th>
                <th>游戏区</th>
                <th>游戏服务器</th>
                <th width="64">订单状态</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div>*订单金额不包含手续费，具体金额以实际支付金额为准。</div>
    </div>
</div>
