<ion-content class="content content-01">
    <div class="list list-p">
        <div class="item recharge-input">
            <input type="tel" id="gameCount" ng-model="data.gameCount" ng-change="checkPhoneNo('1')" ng-focus="clearError('1')" ng-blur="clearError('2')" placeholder="请输入或选择手机号码">
            <p class="region" ng-show="''!=data.cityin"><span ng-bind="data.cityin"></span></p>
            <i class="icon-close-01 icon-close" ng-show="'' != data.gameCount" ng-click="clearError('3')"></i>
            <i class="icon-close-01 icon-clock" ng-show="'' == data.gameCount" ng-click="showCookie()"></i>
        </div>
        <div class="item recharge-input-p" ng-show="!data.hasCookie && data.showCookie">
            <p class="item-note-center pt15">没有最近的充值记录</p>
        </div>
        <div class="item recharge-input-p recharge-record" ng-show="data.hasCookie && data.showCookie">
            <div ng-repeat="phoneNo in phoneNoes|filter:data.gameCount">
                <p class="item-note-center item-note-p" ng-click="choosePhoneNo(phoneNo)">{{phoneNo}}</p>
            </div>
            <a href="#" class="item-note-center" ng-click="clearCookie()">清空历史记录</a>
        </div>
    </div>
    <p class="error-tip pl15 pt5" ng-show="''!=errorData.phoneNoError"><span ng-bind="errorData.phoneNoError"></span></p>
    <div class="recharge-p-list">
        <ul class="row row-wrap clearfix">
            <li class="col-33" ng-repeat="item in faceList">
                <a ng-class="{'row-p':item.stock,'checked':item.choosed}" href="" ng-click="chooseValue(item.id)">
                    <h3 ng-if="item.stock">{{item.value}}元</h3>
                    <span ng-if="!item.stock">{{item.value}}元</span>
                    <p ng-if="item.stock">售价{{item.price}}元</p>
                </a>
            </li>
            <li class="col-33">
                <a class="row-a-small" ng-class="{'row-p':''!=data.mobileType}" ng-click="chooseValue('flowrecharge')">流量充值</a>
            </li>
        </ul>
    </div>
    <p class="error-tip pb5 pl15" ng-show="''!=errorData.errorMsg"><span ng-bind="errorData.errorMsg"></span></p>

    <div class="recharge-pay">
        <ul class="promise clearfix">
            <li class="promise-icon01">闪电到帐</li>
            <li class="promise-icon02">不到账全额退款</li>
        </ul>
        <button class="button button-block button-positive" ng-repeat="item in payList" ng-click="takeOrder($event,item)">立即支付<span class="sum" ng-if="'' != data.cash">：￥{{data.cash}}元</span></button>
    </div>

    <div class="copyright">
        <p class="link">
            <a ui-sref="order">订单查询</a> |
            <a ng-click="showRechargeDesc()">充值说明</a>
        </p>
    </div>
</ion-content>
