<div class="title clearfix">
    <a class="fr" ui-sref="giftOrderSearch">订单中心</a>
    <h2>充值记录查询</h2>
</div>
<div class="content">
    <!--div class="subTitle">唯品会卡</div-->
    <form class="orderForm">
        <ul>
            <li class="tip clearfix" ng-show="!orderForm.hasCookie">
                <span class="label">手机号：</span>
                <input class="inputTxt placeholder" name = "account" ng-trim = "true" ng-model = "orderForm.telPho" placeholder="短信接收号码" type="text" ng-keyup="checkAccount('2')" ng-blur="checkAccount('1')">
                <div class="error" ng-show="'' != errorData.phoneErrorMsg && ' ' != errorData.phoneErrorMsg">{{errorData.phoneErrorMsg}}</div>
            </li>
            <li class="phoneInfo clearfix" ng-show="orderForm.hasCookie">
                <span class="label">手机号：</span>
                <em class="orange">{{orderForm.telPho}}</em>
                <a href="javascript:void(0)" ng-click="updatePhoneNum()">修改号码</a>
            </li>
            <li class="clearfix" ng-show="!orderForm.hasCookie">
                <input name="idenCode" class="inputTxt placeholder" ng-trim = "false"  ng-model = "idenCodeData.idenCode" ng-keyup="checkCode()" placeholder="请填写验证码" type="text" style="width: 120px;margin-left: 95px;">
                <!--div class="error" ng-show="'' != errorData.errorMsg && ' ' != errorData.errorMsg">{{errorData.errorMsg}}</div-->
                <a class="btn btnVerify" ng-class="{btnDisabled:idenCodeData.isGet}" ng-click="getIdenCode()">{{idenCodeData.title}}</a>
            </li>
            <li>
                <span class="label">&nbsp;</span>
                <input class="btn" value="查询" ng-class="{btnDisabled:orderForm.$invalid || '' != errorData.errorMsg || '' != errorData.phoneErrorMsg}" type="button" ng-click = "search()">
                <input class="btn" value="重置" type="button" ng-click = "reset()">
            </li>
        </ul>
    </form>

    <div class="orderResults" ng-show="orderForm.searchFlag">
        <div class="subTitle">查询结果</div>
        <p class="grey tc" ng-show = "null != errorData.errorMsg && ''!= errorData.errorMsg" style="color: red;">{{errorData.errorMsg}}</p>
        <table id="dataTable">
            <thead>
            <tr>
                <th>订单号</th>
                <th width="68">订单时间</th>
                <th>商品信息</th>
                <th>购买数量</th>
                <th>收货号码</th>
                <th>订单金额*</th>
                <th width="64">订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div>*订单金额不包含手续费，具体金额以实际支付金额为准。</div>
    </div>

    <div class="shade" ng-show = "null != errorData.queryCardError && '' != errorData.queryCardError"></div>
    <div class="window" ng-show = "null != errorData.queryCardError && '' != errorData.queryCardError">
        <ul>
            <span ng-repeat="card in cardDetail">
                <li ng-show = "'1' == errorData.queryCardError">{{$index+1}}.卡号：{{card.cardNo}}</li>
                <li ng-show = "'1' == errorData.queryCardError">{{$index+1}}.卡密：{{card.cardPass}}</li>
            </span>
            <li class="grey none" ng-show = "'1' != errorData.queryCardError">{{errorData.queryCardError}}</li>
        </ul>
        <a class="close" ng-click = "hideCardDetail()"></a>
    </div>
</div>
