<div class="title clearfix">
    <a class="fr" ui-sref="giftOrderSearch">订单中心</a>

    <h2>海量商户，E时代送礼好选择</h2>
</div>
<div class="content">
    <div class="subTitle">选择礼品卡</div>
    <ul class="cards clearfix">
        <li ng-repeat="item in itemList" ng-class="{mr0:($index+1)%3 == 0}">
            <a href="javascript:void (0)" ng-click="goBuy(item.name)">
                <!--开环境图片配置-->
                <img ng-src="http://pic.ofcard.com/cards/images/{{item.id}}.jpg"/>
                <h4>{{item.name}}</h4>
            </a>
        </li>
    </ul>
</div>