<div class="title clearfix">
    <a class="fr" ui-sref="giftOrderSearch">订单中心</a>

    <h2>海量商户，E时代送礼好选择</h2>
</div>
<div class="content">
    <div class="subTitle">{{data.giftName}}</div>
    <form class="orderForm orderDetail" name="GiftOrderForm" ng-show="faceValueList1.message == null">
        <ul class="formList">
            <li class="priceChoose"><span class="label">可选面额：</span>

                <p>
                    <a class="tag" href="javascript:void(0)"
                       ng-repeat="faceValue in faceValueList1 | orderBy:'faceValue'"
                       ng-class="{tagChecked:faceValue.choosed,mt10:$index > 3}"
                       ng-click="chooseFaceValue(faceValue.productCode) ">{{faceValue.faceValue}}元</a>
                </p>
            </li>

            <li class="clearfix">
                <span class="label">购买数量：</span>
                <input name="cardNum" type="text" class="inputTxt input-50p" ng-model = "data.cardNum" ng-keyup="checkCardNum('1')" ng-blur="checkCardNum('2')" ng-disabled="''==data.cardId"/>
                <span class="grey range" ng-show="data.purNum !== undefined">可购买范围：{{data.purNum}}</span>
            </li>

            <li class="clearfix" ng-show="!data.hasCookie">
                <span class="label">短信接收：</span>
                <input name="shortMessage" class="inputTxt placeholder" ng-trim = "false"  ng-model = "data.shortMessage" ng-keyup="checkShortMessage('2')" ng-blur ="checkShortMessage('1')"  placeholder="请输入移动、联通、电信号码" type="text">
                <div class="error" ng-show="'' != errorData.shortMessageError && ' ' != errorData.shortMessageError">{{errorData.shortMessageError}}</div>
            </li>

            <li class="phoneInfo clearfix" ng-show="data.hasCookie">
                <span class="label">短信接收：</span>
                <em class="orange">{{data.shortMessage}}</em>
                <a href="javascript:void(0)" ng-click="updatePhoneNum()">修改号码</a>
            </li>

            <li class="clearfix" ng-show="!data.hasCookie">
                <input name="idenCode" class="inputTxt placeholder" ng-trim = "false"  ng-model = "idenCodeData.idenCode" ng-keyup="checkCode()" placeholder="请填写验证码" type="text" style="width: 120px;margin-left: 95px;">
                <a class="btn btnVerify" ng-class="{btnDisabled:idenCodeData.isGet}" ng-click="getIdenCode()">{{idenCodeData.title}}</a>
            </li>

            <li class="clearfix" >
                <span class="label" >商品价格：</span><em class="orange" style="font-size: 24px;" ng-show="cash !== undefined">{{cash}}元</em>
            </li>

            <li>
                <span class="label">&nbsp;</span>
                <input class="btn" type="button" value="立即购买" ng-class="{btnDisabled:'' != errorData.shortMessageError || '' != errorData.errorMsg}" ng-click = "submitForm()"/>
                <span class="fail" ng-show = "null != errorData.errorMsg && ''!= errorData.errorMsg">{{errorData.errorMsg}}</span>
            </li>
        </ul>
    </form>
    <div class="error" ng-show = "faceValueList1.message != null">
        抱歉！系统维护中...
    </div>
</div>