<div class="bar bar-header bar-positive bar-positive-01">
    <button class="button button-p" type="button" ng-click="cancel()">取消</button>
    <h1 class="title">充值查询</h1>
</div>
<div class="content content-01 content-position">
    <div class="slider">
        <div class="slider-slides">
            <div class="slider-slide slider-slide-image">
                <img src="http://pic.ofpay.com/cards/standard/img/banner-01.jpg" alt="">
            </div>
        </div>
        <!--如轮播无公告，则去除slider-pager-post -->
        <!--<ul class="slider-pager slider-pager-post">-->
            <!--<li class="slider-pager-page active"></li>-->
            <!--<li class="slider-pager-page"></li>-->
        <!--</ul>-->

    </div>
    <div class="list list-home">
        <!--<a href="#" class="item item-icon-right mb0 mt10" ng-click="order('local')">-->
            <!--<h2>本地订单</h2>-->
            <!--<i class="icon ion-ios7-arrow-right icon-normal"></i>-->
        <!--</a>-->
        <a href="#" class="item item-icon-right mb0" ng-click="order('remote')">
            <h2>永久订单</h2>
            <i class="icon ion-ios7-arrow-right icon-normal"></i>
        </a>
        <!--<a href="" class="item item-icon-right mb0">-->
            <!--<h2>优惠券、红包</h2>-->
            <!--<i class="icon ion-ios7-arrow-right icon-normal"></i>-->
        <!--</a>-->

    </div>

</div>