<div class="bar bar-positive bar-header bar-positive-01">
    <!--bar-cont定义top-->
    <button class="button button-p" type="button" ng-click="cancel()">取消</button>
    <h1 class="title">快速登录</h1>
</div>
<ion-content class="content content-02 content-position body-white">
    <ul class="recharge-p-list recharge-p-list01 mt0">
        <li class="list">
            <input class="item item-grey recharge-input-i clearfix" type="tel" id="telPho" ng-model="data.mobileNo" ng-change="checkTelPho('3')" ng-focus="checkTelPho('1')" ng-blur="checkTelPho('2')" placeholder="请输入手机号码">
            <i></i>
            <button class="item-note item-note-btn" ng-class="{'item-note-btnLight':idenCodeData.isGet}" type="button" ng-click="getIdenCode()">{{idenCodeData.title}}</button>

        </li>
        <li class="list">
            <input class="item item-grey recharge-input-i clearfix" type="tel" id = "verifyCode" ng-model="data.verifyCode" ng-change="checkCode('3')" ng-foucs="checkCode('1')" ng-blur="checkCode('2')" placeholder="请输入短信验证码">
            <i></i>
        </li>
        <li class="list" ng-show="idenCodeData.getImageCode">
            <input class="item item-grey recharge-input-i clearfix" id = "imageCode" ng-model="data.imageCode" ng-change="checkImageCode('3')" ng-focus="checkImageCode('1')" ng-blur="checkImageCode('2')" placeholder="请输入验证字符">
            <i class="icon-img"></i>
            <div class="list-right" ng-click="flushImageCode()">
                <img class="verifi-img" ng-src="{{idenCodeData.imageCodeUrl}}">
            </div>
        </li>

    </ul>
    <p class="error-tip pl15" ng-show="''!=errorData.errorMsg"><span ng-bind="errorData.errorMsg"></span></p>
    <div class="recharge-pay">
        <button class="button button-block button-positive mt20" type="button" ng-click="login()"><span>完成</span></button>
    </div>

</ion-content>