<div class="bar bar-header bar-positive bar-positive-01">
    <button class="button button-p" ng-click="cancel('1')">取消</button>
    <h1 class="title">优惠券查询</h1>
</div>
<ion-content class="content content-01 content-position-01">
    <div class="list list-pay">

        <div class="rule-gift">
            <a ng-click="showRules()"><i></i>优惠券说明</a>
        </div>

        <label class="item item-radio padding0" ng-if="''==marketBills">
            <div class="item-content padding">
                <span>未查询到相关优惠券信息</span>
            </div>
        </label>
        <label class="item item-radio padding0" ng-if="''!=marketBills" ng-repeat="bill in marketBills|orderBy:'!isActive'" ng-class="{'disabled':!bill.isActive,'checked':bill.choosed}" ng-click="chooseBill(bill.billId)">
            <!--<input type="radio" name="group" checked="checked">-->
            <!--选中状态在<div class="item-content padding">加checked-->
            <div class="item-content padding">
                <p class="red-en-money" style="line-height: 72px;"><span>￥</span><b>{{bill.cash}}</b>
                    <!--<span class="fs12">元</span>-->
                </p>
                <p>
                    仅限{{bill.templateCateName}}使用<br>
                    {{bill.desc}}<br>
                    不可叠加使用<br>
                    <span>有效期：{{bill.endTime.substring(0,10)}}</span>
                    <i class="inactive" ng-if="'1' == bill.consumerState"></i>
                    <i class="locking" ng-if="'3' == bill.consumerState"></i>
                </p>
            </div>
            <i class="radio"></i>
        </label>

    </div>
    <div class="list mt0 pt14">
        <div class="item recharge-input">
            <input type="text" placeholder="请输入抵用券号" ng-model="data.CDKey">
            <i class="icon-close-01 r15" ng-if="''!= data.CDKey" ng-click="clearCDKey()"></i>
        </div>
    </div>
    <div class="recharge-pay">
        <button class="button button-block button-positive button-spacing" type="button" ng-click="confirm()">确定</button>
    </div>

</ion-content>

<div class="modal-backdrop modal-backdrop01" ng-if="data.isShowBind">
    <div class="modal-custom modal-custom01">
        <div class="modal-header">
            <p class="tip">绑定提示</p>
        </div>
        <div class="modal-body" ng-if="''!= data.billInfo">
            <p class="tip mb0">抵用券面值：{{data.billInfo.cash}}元</p>
            <p class="tip mb0"><span>有效期</span>：{{data.billInfo.endTime.substring(0,10)}}</p>
            <p class="tip mb0">{{data.billInfo.desc}}</p>
            <p class="tip tip-color">是否绑定到当前登录账号？</p>
        </div>
        <div class="modal-body" ng-if="''== data.billInfo">
            <p class="tip mb0">{{data.message}}</p>
            <br/>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <div class="col">
                    <button class="button button-block button-fail" type="button" ng-click="cancel('2')">取消</button>
                </div>
                <div class="col">
                    <button class="button button-block button-sucess" ng-click="bindBill()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

