<div class="modal-backdrop">
    <div class="modal-custom modal-custom01">

        <div class="modal-body modal-body02">
            <span class="tip">{{data.gasCardNo}}，</span>
            <span class="tip">确认卡号无误？</span>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <div class="col">
                    <button class="button button-block button-fail" ng-click="cancle()">取消</button>
                </div>
                <div class="col">
                    <button class="button button-block button-sucess" ng-click="confirm()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
