<div class="bar bar-header item-input-inset item-input-inset-auto">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input id="search" type="text" placeholder="请输入礼品卡名称检索" ng-model="data.search" ng-focus="clearSearch('1')">
<!--
        <i class=" icon-close-01" ng-click="clearSearch('3')"></i>
-->
    </label>
</div>
<ion-content class="content content-01 body-white has-header">
<div class="list bB1 mt1">
    <div class="item item-divider item-divider-small item-divider01 bT0" ng-if="''!=rechargeGiftCardList">
        最近购买过的礼品卡
    </div>
    <a ui-sref="giftCardcharge({'giftCardName':giftCard})" class="item item-list" ng-repeat="giftCard in rechargeGiftCardList">
        {{giftCard}}
    </a>
    <a class="item item-divider item-divider01 item-divider-small item-divider-clear bB1">
        热门礼品卡
    </a>
    <div class="list bB1 mt1">
        <a ui-sref="giftCardcharge({'giftCardName':giftCard.productName})" class="item item-list" ng-repeat="giftCard in giftCardList|filter:{productName:data.search}">
            {{giftCard.productName}}
        </a>
    </div>
<!--    <a href="" class="item item-divider item-divider01 item-divider-small">
        按字母检索
    </a>
    <a name="{{letter.name}}" class="item item-list" ng-repeat="letter in letters">
        <h2 class="">{{letter.name}}</h2>
        <div ng-repeat="giftCard in giftCardList|filter:{firstPinyin:letter.name}" ng-click="goCharge(giftCard.name)">{{giftCard.name}}</div>
    </a>-->
</div>

</ion-content>