<ion-content class="content content-01">
        <div class="bar bar-header bar-positive bar-positive-01">
            <a class="button button-clear button-positive button-blue" ui-sref="giftCardrecharge">取消</a>
            <h1 class="title">礼品卡充值</h1>
        </div>
        <div class="content content01 content-position">
            <div class="recharge-pay padding  body-white">
                <ul class="card-logo clearfix">
                    <li class="li-icon">
                        <div class="inline">
                            <img src="{{data.imgUrl}}">
                        </div>
                        <dl class="inline">
                            <dd><span class="card-logo-dd" ng-if="data.giftCardName != '苏宁B2C卡'">{{data.giftCardName}}</span>
                                <span class="card-logo-dd" ng-if="data.giftCardName == '苏宁B2C卡'">苏宁礼品卡</span>
                                <span class="card-logo-dd">礼品卡</span>
                            </dd>
                            <dt><span>电子密卡</span><span>馈赠佳品</span></dt>
                        </dl>
                    </li>
                </ul>
            </div>

            <div class="recharge-pay padding recharge-pay02 mt10">
                <ul class="card clearfix">
                    <li><span>付款后将卡密以短信形式发送给您，请妥善保管，不要随意透露给他人。<a class="service" ui-sref="instructions">《使用说明》</a></span></li>
                </ul>
            </div>

            <div class="recharge-p-list mt10 body-white">
                <ul class="row row-wrap row-block">
                    <li class="col-33  recharge-bill mt5">
                        <p class="row-block-p" href="#">面值</p>
                    </li>
                </ul>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in giftCardInfo.faceValueList">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.value}}元</h3>
                            <span ng-if="!item.stock && data.mobileType">暂时缺货</span>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
                <ul class="row row-wrap row-block">
                    <li class="col-33 col-100 recharge-bill ptb0 mt5">
                        <p href="#">购买数量:范围为（1-100）</p>
                        <div class="num-small">
                            <label>
                                <input type="text" ng-model="data.cardNum" ng-change="checkCardNum('1')"/>
                            </label>
                                <a class="num-small-btn num-small-fl" ng-model="data.cardNum" ng-click="checkCardNum('2')"></a>
                                <a class="num-small-btn num-small-fr" ng-model="data.cardNum" ng-click="checkCardNum('3')"></a>
                        </div>
                    </li>
                </ul>
            </div>

    <div class="list list-p">
            <div class="item recharge-input">
                <input type="tel" id="telPho" ng-model="data.telPho" ng-change="checkPhoneNo('1')" ng-focus="clearError('1')" ng-blur="clearError('2')" placeholder="接收短信">
                <p class="region" ng-show="''!=data.cityin"><span ng-bind="data.cityin"></span></p>
                <i class="icon-close-01 icon-close" ng-show="'' != data.telPho" ng-click="clearError('3')"></i>
                <i class="icon-close-01 icon-clock" ng-show="'' == data.telPho" ng-click="showCookie()"></i>
            </div>
            <div class="item recharge-input-p" ng-show="!data.hasCookie && data.showCookie">
                <p class="item-note-center pt15">没有最近的充值记录</p>
            </div>
            <div class="item recharge-input-p recharge-record" ng-show="data.hasCookie && data.showCookie">
                <div ng-repeat="phoneNo in giftCardNoes|filter:data.telPho">
                    <p class="item-note-center item-note-p" ng-click="choosePhoneNo(phoneNo)">{{phoneNo}}</p>
                </div>
                <a href="#" class="item-note-center" ng-click="clearCookie()">清空历史记录</a>
            </div>
    </div>
    <p class="error-tip pb5 pl15" ng-show="''!=errorData.phoneNoError"><span ng-bind="errorData.phoneNoError"></span></p>
    <p class="error-tip pl15 pt5" ng-show="''!=errorData.errorMsg"><span ng-bind="errorData.errorMsg"></span></p>

    <div class="list">
        <div class="item item-grey recharge-input-normal" ng-click="useMarketBill('4')">
            优惠券红包
            <span class="item-note" ng-class="{'active':''!= marketInfo.billId}">{{marketInfo.title}} &gt;</span>
        </div>
    </div>

    <div class="recharge-pay">
        <button class="button button-block button-positive" ng-repeat="item in payList" ng-click="takeOrder($event,item)">立即支付<span class="sum" ng-if="'' != data.cash">：￥{{data.cash}}元</span></button>
        <p class="tips">
            <span>支付后自动发货，不可退换</span>
        </p>
    </div>
    <div id="copyright"></div>
</div>
</ion-content>
