<div class="content content-activity">
    <div class="activ-n">
        <img src="http://pic.ofcard.com/cards/standard/img/lottery-bg-noWin.jpg" alt="奖品列表">
    </div>
    <div class="list-dl" ng-if="''!= orderList">
        <dl class="" href="#" ng-repeat="prize in orderList">
            <dd>
                <img src="http://pic.ofcard.com/cards/standard/img/win-title.png">
                <p>{{$index+1}}</p>
                <u></u>
            </dd>
            <dt>
            <div class="fr-dt">
                <img ng-src="{{prize.pic}}">
                <!--<p class="p-win">200</p>-->
                <div class="win-fr">
                    <p>{{prize.productName}}</p>
                </div>
            </div>
            </dt>
        </dl>

    </div>

    <div class="activ-con" ng-if="''==orderList">
        <p class="activ-noWin">还没有中奖纪录哦~</p>
        <a class="button button-block button-positive button-small-activ" ui-sref="index-of">返回主页面</a>
    </div>

</div>