<div class="content content-activity">
    <div class="activ-n">
        <img src="http://pic.ofcard.com/cards/standard/img/lottery-bg03.jpg" alt="奖品列表">
    </div>
    <div class="activ-con">
        <a class="button button-block button-positive button-small-activ" ui-sref="index-of">返回上一页</a>
        <div class="rule activ-rule">
            <h2 class="title">1、活动时间</h2>
            <p> 2015年12月24日 00：00：00 - 2016年1月4日 23：59：59（时间以充值成功时间为准）。</p>
            <h2 class="title">2、参与资格</h2>
            <p>在指定商户充值页面成功充值话费，即可参与抽奖，每个用户仅限参与一次，100%有奖。</p>
            <h2 class="title">3、实物礼品</h2>
            <p>中奖者，客服将在7个工作日内联系中奖号码，请保持手机畅通；华为优购码(荣耀畅玩5X)将在三个工作日内以短信形式发送至中奖号码。</p>
            <h2 class="title">4、流量代金卷</h2>
            <p>1元，2元，4元 ，7元  ，可对应购买70M，150M，500M，1G移动流量商品。</p>
            <p>更多问题请联系客服电话：025-69828599</p>
        </div>

    </div>
</div>