<div class="content content-activity">
    <div class="activ-n">
        <img src="http://pic.ofcard.com/cards/standard/img/lottery-bg02.jpg">
    </div>
    <div class="activ-con">
        <img src="http://pic.ofcard.com/cards/standard/img/prize-bg-win.png">
        <p class="prize prize01">恭喜获得</p>
        <p class="prize">{{prize.productName}}</p>
        <h2>赢取好礼，一触即发！</h2>
        <p>移动流量券已经放入账户：{{data.mobileNo}}</p>
        <button class="button button-block button-positive" type="button" ng-click="goRecharge()">立即充值</button>
        <p class="tip" ng-if="'0' == prize.productType">本券只适用于移动流量充值</p>
    </div>
</div>