<ion-content class="content activ-tip-bg active-refreshLife active-green active-green-dl">
    <div class="activ-n activ-n02">
        <img src="http://pic.ofcard.com/cards/youzheng/img/activity-theme-green01.jpg" alt="满五笔，享好礼">
    </div>
    <form action="" class="move-position">
        <ul class="activ-form activ-form02">
            <label for="" ng-if="'' == data.randomId">
                <input type="tel" ng-model="data.mobileNo" placeholder="请输入您的手机号码">
            </label>
            <div class="row" ng-if="'' == data.randomId">
                <div class="row-left">
                    <input type="tel" name="idenCode" ng-model = "data.verifyCode" placeholder="请输入验证码">
                </div>
                <div class="row-right">
                    <button class="activ-btn" type="button" ng-class="{disabled:idenCodeData.isGet}" ng-click="getIdenCode()">{{idenCodeData.title}}</button>
                </div>
            </div>
            <div class="row" ng-if="'' != data.randomId">
                <div class="row-left">
                    <input class="input-color" type="text" value="{{data.mobileNo}}" disabled>
                </div>
                <div class="row-right">
                    <button class="activ-btn" type="button" ng-click="updateMobileNo()">修改</button>
                </div>
            </div>

            <button class="activ-btn activ-btn-19" type="button" ng-disabled="data.isSub" ng-click="check('1')">领取兑换券</button>

        </ul>
    </form>
    <div class="gift-notes gift-notes02" style="margin-top:90px;" ng-click="showDesc()">
        <p class="title-line">
            <span></span>
            <span>活动说明</span>
            <span></span>
            <!--<i class="arrow arrow-down"></i>-->
        </p>
    </div>
    <div class="gift-notes gift-notes02" style="height: 800px;" ng-show="data.isShowDesc">
        <ul>
            <li>1、活动时间：<span>即日起</span>至<span>2016</span>年<span>12</span>月<span>31</span>日。</li>
            <li>2、参与资格：通过手机银行或个人网银办理百元以上的账务类交易，且交易笔数达<span>5笔</span>（含5笔）以上的客户。</li>
            <li>3、活动份额：每月<span>2000份</span>30元<span>话费</span>。</li>
            <li>4、活动规则：客户在任意自然月内通过手机银行或个人网银办理转账、支付、缴费、理财等百元以上账务类交易，且交易笔数达5笔及以上的客户，可于次月25日12:00至30日24:00登录“<span>邮储银行大连分行</span>”微信公众号，点击“<span>财富管理—邮储有礼</span>”，选择“兑奖专区—月月满五笔，月月享好礼”活动专栏，输入在我行预留手机号，系统验证符合条件后，即可领取30元话费。每月2000份，兑完为止。当月取得获奖资格不影响次月继续获奖。</li>
            <li>注：不含各类绿卡快捷交易、退货冲正交易。</li>
        </ul>
    </div>
</ion-content>

<div class="modal-backdrop modal-backdrop01" ng-show="'1' == dateTime.timeFlag">

    <div class="time-bg">
        <img src="http://pic.ofpay.com/cards/youzheng/img/time.png" alt="倒计时">
        <div class="box-time">
            <input type="text" id="time_d" ng-model="dateTime.days"><!--天-->
            <input type="text" id="time_h" ng-model="dateTime.hours"><!--时-->
            <input type="text" id="time_m" ng-model="dateTime.minuts"><!--分-->
            <input type="text" id="time_s" ng-model="dateTime.seconds"><!--秒-->
        </div>
    </div>
</div>

<div class="modal-backdrop modal-backdrop01 modal-backdrop-activGreen" ng-if="''!=errorData.errorMsg">
    <div class="modal-custom">
        <div class="modal-header" ng-click="clearError('1')">
            <a class="modal-close"></a>
        </div>
        <div class="modal-body">
            <p class="tip">{{errorData.errorMsg}}</p>
        </div>
    </div>
</div>
<div class="modal-backdrop modal-backdrop01 modal-backdrop-activGreen" ng-if="''!=errorData.phoneMsg">
    <div class="modal-custom">
        <div class="modal-header" ng-click="clearError('2')">
            <a class="modal-close"></a>
        </div>
        <div class="modal-body">
            <p class="tip">{{errorData.phoneMsg}}</p>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <div class="col">
                    <button class="button button-block button-sucess" type="button" ng-click="clearError('2')">知道了</button>
                </div>

            </div>
        </div>
    </div>
</div>