<div class="bar bar-header bar-positive bar-refreshLife" ng-show="hasHeader">
    <button class="button button-icon icon ion-ios7-arrow-back" onclick="window.history.go(-1);">返回</button>
</div>

<ion-content class="content active-refreshLife active-green active-green-dl" ng-class="{'has-header':hasHeader}">
    <div class="gift-congra gift-congra02 gift-congra02-dl">
        <a ng-click="showBill()">我的兑换记录</a>
        <h2>恭喜您！</h2>
        <p>获得{{data.billCash}}元兑换券</p>
    </div>
    <div class="list list-gift list-gift01 list-gift02">
        <h2>您可以兑换以下商品</h2>
        <div class="gifts">
            <a href="" class="item" ng-repeat="card in cardList" ng-click="chooseGift(card)">
                <i class="{{card.icon}}"></i>
                <p class="title"><span>{{card.name}}{{data.billCash}}元</span></p>
            </a>
        </div>
    </div>
    <div class="gift-notes gift-notes02" ng-click="showDesc()">
        <p class="title-line">
            <span></span>
            <span>活动说明</span>
            <span></span>
        </p>
    </div>
    <div class="gift-notes gift-notes02" style="height: 800px;" ng-show="data.isShowDesc">
        <ul>
            <li>1、活动时间：<span>即日起</span>至<span>2016</span>年<span>12</span>月<span>31</span>日。</li>
            <li>2、参与资格：通过手机银行或个人网银办理百元以上的账务类交易，且交易笔数达<span>5笔</span>（含5笔）以上的客户。</li>
            <li>3、活动份额：每月<span>2000份</span>30元<span>话费</span>。</li>
            <li>4、活动规则：客户在任意自然月内通过手机银行或个人网银办理转账、支付、缴费、理财等百元以上账务类交易，且交易笔数达5笔及以上的客户，可于次月25日12:00至30日24:00登录“<span>邮储银行大连分行</span>”微信公众号，点击“<span>财富管理—邮储有礼</span>”，选择“兑奖专区—月月满五笔，月月享好礼”活动专栏，输入在我行预留手机号，系统验证符合条件后，即可领取30元话费。每月2000份，兑完为止。当月取得获奖资格不影响次月继续获奖。</li>
            <li>注：不含各类绿卡快捷交易、退货冲正交易。</li>
        </ul>
    </div>
</ion-content>
<div class="modal-backdrop modal-backdrop01 modal-backdrop-activGreen" ng-show="isGift">
    <div class="modal-custom">
        <div class="modal-header" ng-click="hideConfirm()">
            <a class="modal-close"></a>
        </div>
        <div class="modal-body">
            <p class="tip">确定是否兑换？</p>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <div class="col">
                    <button class="button button-block button-sucess" type="button" ng-click="getGiftCard()" ng-disabled="data.isSub">立即兑换</button>
                </div>
                <div class="col">
                    <button class="button button-block button-sucess" type="button" ng-click="hideConfirm()">再看看</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop modal-backdrop01 modal-backdrop-activGreen" ng-show="isPhone">
    <div class="modal-custom modal-custom01 modal-custom-tip" style="padding: 12px 5px;">
        <div class="modal-header">
            <a class="modal-close" ng-click="hideConfirm()"></a>
        </div>
        <div class="modal-body">
            <ul class="activ-form">
                <input class="activ-btn" type="tel" placeholder="请输入手机号码" ng-model="data.gameCount">
            </ul>
            <p class="tip">家庭网副号、托收号码、携号转网的号码不支持充值，请使用其他号码充值</p>

        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <button class="button button-block button-success" type="button" ng-click="takePhoneOrder()" ng-disabled="errorData.isSub">确认充值</button>
            </div>
        </div>
    </div>
</div>