<div class="bar bar-header bar-positive bar-refreshLife" ng-show="hasHeader">
    <button class="button button-icon icon ion-ios7-arrow-back" onclick="window.history.go(-1);">返回</button>
</div>
<ion-content class="content active-refreshLife active-green active-green-dl" ng-class="{'has-header':hasHeader}">
    <div class="gift-congra gift-congra-two gift-congra-two-ld">
        <h2 ng-show="''!=marketBills">恭喜您！</h2>
        <p ng-show="''!=marketBills">获得以下兑换券，赶快去兑换吧！</p>
        <h2 ng-show="''==marketBills">&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <p ng-show="''==marketBills">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div ng-if="'2' == data.queryBillType">
            <div class="select-month w250 select-month01">
                <!--适应券的宽度加w250-->
                <p>{{data.year}}</p>
                <div class="select-div">
                    <select ng-model="data.dateId" ng-change="chooseDate(data.dateId)">
                        <option value="{{date.id}}" ng-repeat="date in dateList" ng-selected="date.selected">{{date.month + 1}}</option>
                    </select>
                </div>
                <p class="select-dl">请选择查询月份</p>
            </div>
        </div>
    </div>
    <div class="coupons" ng-show="''!=marketNUBills" ng-repeat = "bill in marketNUBills">
        <div class="coupons-item">
            <div class="body-top" ng-click="buy(bill)">
                <div class="title">
                    <p class="center">兑换券 &nbsp;</p>
                    <h2>{{bill.cash}}<span>元</span></h2>
                </div>
            </div>
            <div class="body-bottom">
                <p>您的手机号****{{bill.uuid.substring(bill.uuid.length-8,bill.uuid.length-4)}}获得{{bill.cash}}元兑换券</p>
            </div>
            <i class="coupons-bg-left" ng-class="{'coupons-disabled':'1' == bill.consumerState,'coupons-checked':'0' == bill.consumerState}"></i>
            <i class="coupons-bg-right" ng-class="{'coupons-disabled':'1' == bill.consumerState,'coupons-bg-right_unused':'0' == bill.consumerState}"></i>
            <i class="coupons-bg"></i>
            <p>请在{{bill.endTime.substring(0,10)}}之前兑换完毕</p>
            <button class="activ-btn" type="button"  ng-class="{'activ-btn-grey':'9' == bill.state}" ng-disabled="'9' == bill.state" ng-click="buy(bill)">现在去兑换</button>
        </div>
    </div>

    <!--<div class="coupons-title" ng-show="''!=marketUBills && '2' == data.queryBillType">-->
        <!--<h2>已兑换礼品：</h2>-->
    <!--</div>-->
    <div class="coupons pt10 mt15" ng-show="''!=marketUBills" ng-repeat = "bill in marketUBills">
        <!--mt15券一和券二的间距-->

        <div class="coupons-item">
            <div class="body-top" ng-click="buy(bill)">
                <div class="title">
                    <p class="center">兑换券 &nbsp;</p>
                    <h2>{{bill.cash}}<span>元</span></h2>
                </div>
            </div>
            <div class="body-bottom">
                <p>您的手机号****{{bill.uuid.substring(bill.uuid.length-8,bill.uuid.length-4)}}获得{{bill.cash}}元兑换券</p>
            </div>
            <i class="coupons-bg-left" ng-class="{'coupons-disabled':'1' == bill.consumerState,'coupons-checked':'0' == bill.consumerState}"></i>
            <i class="coupons-bg-right" ng-class="{'coupons-disabled':'1' == bill.consumerState,'coupons-bg-right_unused':'0' == bill.consumerState}"></i>
            <i class="coupons-bg"></i>
            <!--<p>请在{{bill.endTime.substring(0,10)}}之前兑换完毕</p>-->
            <br/>
            <button class="activ-btn" type="button" ng-click="buy(bill)">兑换详情</button>
        </div>
    </div>

    <p ng-show="''==marketBills" class="coupons-none">您未获得兑换券</p>

    <div class="gift-notes gift-notes02" style="margin-top:90px;" ng-click="showDesc()">
        <p class="title-line">
            <span></span>
            <span>活动说明</span>
            <span></span>
            <!--<i class="arrow arrow-down"></i>-->
        </p>
    </div>
    <div class="gift-notes gift-notes02" style="height: 800px;" ng-show="data.isShowDesc">
        <ul>
            <li>1、活动时间：<span>即日起</span>至<span>2016</span>年<span>12</span>月<span>31</span>日。</li>
            <li>2、参与资格：通过手机银行或个人网银办理百元以上的账务类交易，且交易笔数达<span>5笔</span>（含5笔）以上的客户。</li>
            <li>3、活动份额：每月<span>2000份</span>30元<span>话费</span>。</li>
            <li>4、活动规则：客户在任意自然月内通过手机银行或个人网银办理转账、支付、缴费、理财等百元以上账务类交易，且交易笔数达5笔及以上的客户，可于次月25日12:00至30日24:00登录“<span>邮储银行大连分行</span>”微信公众号，点击“<span>财富管理—邮储有礼</span>”，选择“兑奖专区—月月满五笔，月月享好礼”活动专栏，输入在我行预留手机号，系统验证符合条件后，即可领取30元话费。每月2000份，兑完为止。当月取得获奖资格不影响次月继续获奖。</li>
            <li>注：不含各类绿卡快捷交易、退货冲正交易。</li>
        </ul>
    </div>

</ion-content>