<div class="modal-backdrop">
    <div class="modal-custom">
        <div class="modal-body">
            <p class="tip"><i></i><span ng-bind="errorData.popMsg"></span></p>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <div class="col">
                    <button class="button button-block button-fail" ng-click="confirm()">确定</button>
                </div>
                <!--
                <div class="col">
                    <button class="button button-block button-sucess" ng-click="cancle()">重新获取</button>
                </div>   -->
            </div>
        </div>
    </div>
</div>
