<div class="bar bar-header bar-positive bar-positive-01">
    <a class="button button-clear button-positive button-blue" ui-sref="viprecharge">取消</a>
    <h1 class="title">会员直充</h1>
</div>
<ion-content class="content content-01  has-header">
        <div class="list list-bar mt5">
            <div class="item recharge-input" ng-if="''!=vipInfo">
                <img ng-src="{{data.imgUrl}}">
                <p class="region">{{data.gameName}}</p>
            </div>
        </div>
        <div class="recharge-p-list" style="margin-bottom: 0px;">
            <div class="lcy" ng-if="vipInfo.name == '乐视会员'">
                <span>乐次元影视会员</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index < 3">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == '乐视会员'">
                <span>乐视超级影视会员</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index >= 3">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lcy" ng-if="vipInfo.name == '迅雷会员'">
                <span>迅雷白金会员</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index < 3">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == '迅雷会员'">
                <span>迅雷超级会员</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 3">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lcy" ng-if="vipInfo.name == '芒果TV'">
                <span>芒果TV全屏会员按月充</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index < 1">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == '芒果TV'">
                <span>芒果TV移动PC端会员按月充</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 1">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>红钻贵族</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 0">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>黄钻贵族</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 1">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>QQ堂紫钻</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 2">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>粉钻贵族</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 3">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>绿钻贵族</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 4">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>音速紫钻</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 5">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>蓝钻贵族</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 6">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ls_super" ng-if="vipInfo.name == 'QQ贵族钻'">
                <span>飞车紫钻</span>
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList" ng-if="$index == 7">
                        <a class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div ng-if="vipInfo.name != '乐视会员' && vipInfo.name != '迅雷会员' && vipInfo.name != '芒果TV' && vipInfo.name != 'QQ贵族钻' ">
                <ul class="row row-wrap clearfix">
                    <li class="col-33" ng-repeat="item in vipInfo.faceValueList">
                        <a ng-if="!item.arbitrary" class="row-p" ng-class="{'disabled':!item.stock,'checked':item.choosed}" ng-click="chooseValue(item)">
                            <h3>{{item.faceName}}</h3>
                            <p ng-if="!item.stock">暂时缺货</p>
                            <p ng-if="item.stock">售价{{item.salePrice}}元</p>
                        </a>
                        <a ng-class="{'row-input-p':item.stock,'checked':''!=data.arbitraryNum}"  ng-if="item.arbitrary" >
                            <input id="arbitrarycharge"  type="tel" placeholder="任意充" ng-model="data.arbitraryNum" ng-disabled="!item.stock"
                                   ng-blur="clearArbitraryAmountError('2')" ng-focus="clearArbitraryAmountError('1')" ng-change="checkArbitraryAmount('1')"/>
                            <p ng-if="''!= data.arbitraryNum">售价{{data.cash}}元</p>
                        </a>
                    </li>
                </ul>
            </div>


            <ul class="row row-wrap row-block" ng-if="''!= orderForm.cardId">
                <li class="col-33 col-100 recharge-bill ptb0 mt5">
                    <p href="#">购买数量:范围为（{{data.purNum}}）</p>
                    <div class="num-small" ng-if="!data.isArbitrary">
                        <label>
                            <input type="text" ng-model="data.cardNum" ng-change="checkCardNum('1')"/>
                        </label>
                        <a class="num-small-btn num-small-fl" ng-model="data.cardNum" ng-click="checkCardNum('2')"></a>
                        <a class="num-small-btn num-small-fr" ng-model="data.cardNum" ng-click="checkCardNum('3')"></a>
                    </div>
                </li>
            </ul>

        </div>

        <div class="list list-p">
            <div class="list mb0">
                <div class="item recharge-input recharge-input-small item-position">
                    <input type="text" id="gameCount" ng-model="data.gameCount" ng-change="checkGameCount('3')" ng-focus="checkGameCount('1')" ng-blur="checkGameCount('2')" placeholder="请输入或选择会员账号">
                    <i class="icon-close-01 icon-close" ng-show="'' != data.gameCount" ng-click="clearError('2')"  style="top: 20px;"></i>
                    <i class="icon-close-01 icon-clock" ng-show="'' == data.gameCount" ng-click="showCookie()" style="top: 16px;"></i>
                    <p>会员账号</p>
                </div>
            </div>

            <div class="item recharge-input-p" ng-show="!data.hasCookie && data.showCookie">
                <p class="item-note-center pt15">没有最近的充值记录</p>
            </div>
            <div class="item recharge-input-p recharge-record" ng-show="data.hasCookie && data.showCookie">
                <div ng-repeat="vipNo in vipNoes|filter:data.gameCount">
                    <p class="item-note-center item-note-p" ng-click="chooseVipNo(vipNo)">{{vipNo}}</p>
                </div>
                <a href="#" class="item-note-center" ng-click="clearCookie()">清空历史记录</a>
            </div>
        </div>

        <p class="error-tip pb5 pl15" ng-show="''!=errorData.errorMsg"><span ng-bind="errorData.errorMsg"></span></p>

        <div class="list mb0">
            <div class="item item-grey item-black recharge-input-normal" ng-click="useMarketBill('4')">
                优惠券红包
                <span class="item-note" ng-class="{'active':''!= marketInfo.billId}">{{marketInfo.title}} &gt;</span>
            </div>
        </div>
        <div class="recharge-pay">
            <button class="button button-block button-positive" ng-repeat="item in userData.payList" ng-click="takeOrder($event,item)">立即支付<span class="sum" ng-if="'' != data.cash">：￥{{data.cash}}元</span></button>
        </div>

    <div id="copyright"></div>
 </div>
</ion-content>
