<ion-content style="background: #ededed;">
    <div class="bar bar-header bar-positive bar-positive-01">
        <button onclick="history.back(-1);" class="button button-clear button-positive button-blue">取消</button>
        <h1 class="title">选择城市</h1>
    </div>

    <div class="content content-01 content-position body-white">
        <div class="item-input-inset item-input-inset-auto">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="请输入城市名称"
                       ng-model="queryValue" ng-change="changeCityList(queryValue)">

            </label>
            <i class=" icon-close-01" ng-click="clearCity();queryValue=''"
               ng-show="'' != queryValue"></i>
        </div>

        <p class="item-search-p pl15" ng-click="chooseAreaCity('{{data.provinceId}}','{{data.provinceName}}','{{data.cityId}}','{{data.city}}')">
            当前定位城市：{{data.city}}</p>
        <div class="list bB1" id="cityList">
            <div ng-repeat="letter in cityList">
                <a href="" class="item item-divider item-divider-small item-divider01" id="{{letter.letter}}">
                    {{letter.letter}}
                </a>
                <a href="" ng-repeat="city in letter.cityInfoList" class="item item-list"
                   ng-click="chooseCity('{{city.provinceId}}','{{city.province}}','{{city.useCityId}}','{{city.useCity}}')">
                    {{city.useCity}}
                </a>
            </div>
        </div>
    </div>
</ion-content>