<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-9 col-xs-12">
            <h3>最新讯息</h3>
            <hr class="featurette-divider">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-repeat="menuTab in menuTabs" ui-sref="preview.type.filetype({filetype : menuTab.id })" ng-class="{active:menuTab.id == curMenuTab }"><a>{{menuTab.name}}</a></li>
            </ul>

            <div ui-view=""/>

        </div>
        <div class="col-md-3 col-xs-12">

        </div>

    </div>

</div>