<div class="tabs-striped tabs-top nh-con tabs-order">
    <div class="tabs">
        <a class="tab-item" ng-class="{'active':'1' == data.queryFlag}" href="" ng-click="changeOrderType('success','success','1')"><span>已完成</span></a>
        <a class="tab-item" ng-class="{'active':'0' == data.queryFlag}" href="" ng-click="changeOrderType('fail','fail','0')"><span>待支付</span></a>
        <a class="tab-item" ng-class="{'active':'9' == data.queryFlag}" href="" ng-click="changeOrderType('success','cancel','9')"><span>撤销</span></a>
    </div>
</div>
<ion-content class="content content-01 content-position-01" style="position: absolute;">
    <div class="coupons" ng-if="0 == orderList.length">
        <div class="coupons-item">
            <div class="body-top">
                <div class="body-bg"><i></i></div>
                <!--<h2>50<span>元</span></h2>-->
                <p class="tip-sorry">抱歉，暂未查到相关订单</p>
            </div>
        </div>
    </div>
    <div class="coupons" ng-if="0 < orderList.length" ng-repeat="order in orderList">
        <div class="coupons-item">
            <div class="body-top">
                <div class="body-bg"><i></i></div>
                <dl>
                    <dd>
                        <h2 ng-show="'' != order.facePric">{{order.facePric}}<span>元</span></h2>
                        <p><span ng-bind="getCardName(order.cardName)"></span></p>
                    </dd>
                    <dt>
                    <p>{{order.gameCount}}</p>
                    <p>{{order.billId}}</p>
                    <p>购买数量: {{order.cardNum}}</p>
                    <p>{{order.orderTime}}</p>
                    </dt>
                </dl>

            </div>
            <div class="body-bottom" ng-if="'1' == data.queryFlag">
                <!--<p>优惠：0.2元</p>-->
                <p>实付：<span>{{order.cash}}元</span></p>
                <!--绿色按钮加activ-btn-ed02-->
                <!--<p class="p-fr">支付成功</p>-->
                <button class="activ-btn activ-btn-ed02">支付成功</button>
            </div>
            <div class="body-bottom" ng-if="'0' == data.queryFlag">
                <!--<p>优惠：0.2元</p>-->
                <p>应付：<span>{{order.cash}}元</span></p>
                <!--蓝色按钮多加 activ-btn-ing-->
                <button class="activ-btn activ-btn-ing" type="button" ng-if="'0' == order.already" ng-click="goPay(order.billId,order.cardName)">去支付</button>
            </div>
            <div class="body-bottom" ng-if="'9' == data.queryFlag">
                <!--<p>优惠：0.2元</p>-->
                <p>实付：<span>{{order.cash}}元</span></p>
                <p class="p-grey">退款将在3-7个工作日内返还到原账户</p>
                <button class="activ-btn">撤销</button>
            </div>
        </div>
    </div>
    <div class="coupons-notice coupons-notice-ing" ng-click="loadMore()">
        <p>仅支持7天内订单查询，更多查询请咨询在线客服</p>
        <a class="tip-service" href="http://kefu.easemob.com/webim/im.html?tenantId=12358"><i></i>在线客服</a>
        <p><i></i>点击加载更多</p>
    </div>
</ion-content>
<div class="mask opacity" ng-if="idenData.isShowBox"></div>
<div class="box" ng-if="idenData.isShowBox">
    <div class="close_box" ng-click="showBox()">

    </div>
    <ul class="box_content">
        <li>
            <input id="rechargeAccount" class="input_account bor" type="tel" placeholder="请输入充值账号" ng-model="data.rechargeAccount" ng-change="checkAccount('3')" ng-focus="checkAccount('1')" ng-blur="checkAccount('2')">
            <p class="error_imfor" ng-if="'' != idenData.errorMsg">*{{idenData.errorMsg}}</p>
        </li>
        <li class="mar_dif">
            <input id="imageCode" class="check_code bor" type="tel" placeholder="请输入验证字符" ng-model="data.verifyCode" ng-change="checkImageCode('3')" ng-focus="checkImageCode('1')" ng-blur="checkImageCode('2')">
            <div class="code_image" ng-click="flushImageCode()">
                <img class="verifi-img1" ng-src="{{idenData.imageCodeUrl}}">
            </div>
            <p class="error_imfor" ng-if="'' != idenData.imageCodeMsg">*{{idenData.imageCodeMsg}}</p>
        </li>
        <li>
            <button class="submit_btn bor" type="button" ng-click="queryOrder()">确认</button>
        </li>
    </ul>

</div>
