<ion-content class="content content-activity-AgriculturalBank content-activity-AgriculturalBank02">
    <div class="content-activity-cont">
        <img class="logo-AB" src="http://pic.ofpay.com/cards/standard/img/logo-AB.png">
        <img class="title-AB" src="http://pic.ofpay.com/cards/standard/img/activity-AB02/lottery-bg-title-AB-green.png">
        <div class="active-cont-AB">
            <div class="center">
                <div class="activ-over">
                    <img src="http://pic.ofpay.com/cards/standard/img/over-AB.png" alt="结束">
                </div>
            </div>
            <p class="activ-over-title">活动还未开始哦！</p>
        </div>

    </div>
</ion-content>