<ion-content class="content content-activity-AgriculturalBank content-activity-AgriculturalBank02">
    <div class="content-activity-cont">
        <img class="logo-AB" src="http://pic.ofpay.com/cards/standard/img/logo-AB.png">
        <img class = "title-AB" src="http://pic.ofpay.com/cards/standard/img/activity-AB02/lottery-bg-title-AB-green.png">
        <div class="active-cont-AB">
            <div class="activ-title">
                <a class="button-activ01" ng-click="myPrize()">我的奖品</a>
            </div>
            <div class="ly-plate">
                <div class="rotate-bg"></div>
                <div class="lottery-star" ng-click="getPrize()">
                    <img src="http://pic.ofpay.com/cards/standard/img/rotate-static.png" id="lotteryBtn">
                </div>
            </div>

            <a class="rule" ui-sref="rule">活动规则&gt;&gt;&gt;</a>
            <p class="activity-title"> 5折抽话费，惊喜等你来!</p>
        </div>
    </div>
</ion-content>
<div class="modal-backdrop modal-backdrop-dark" ng-if="''!= errorData.errorMsg">
    <div class="modal-custom modal-custom-activ modal-custom-activ-green">
        <div class="modal-header">
            <i class="close close-green" ng-click="close('1')"></i>
        </div>
        <div class="modal-body">
            <p>{{errorData.errorMsg}}</p>
        </div>

    </div>
</div>
<div class="modal-backdrop modal-backdrop-dark" ng-if="data.isNotLogin">
    <div class="modal-custom modal-custom-activ  modal-custom-activ1">
        <div class="modal-header">
            <i class="close close-green" ng-click="close('2')"></i>
        </div>
        <div class="modal-body">
            <div class="list">
                <label>
                    <input class="item-input-green" type="tel" id="telPho" placeholder="请输入您的手机号码" ng-model="data.mobileNo" ng-change="checkTelPho('3')" ng-focus="checkTelPho('1')" ng-blur="checkTelPho('2')">
                </label>
            </div>
            <div class="row">
                <label>
                    <input class="item-input-green" type="tel" id="verifyCode" placeholder="请输入验证码" ng-model="data.verifyCode" ng-change="checkCode('3')" ng-foucs="checkCode('1')" ng-blur="checkCode('2')">
                </label>
                <button class="button button-small button-green" type="button" ng-click="getIdenCode()">{{idenCodeData.title}}</button>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row row-no-padding">
                <button class="button button-block button-full button-green" ng-click="login()">确认</button>
            </div>
        </div>
    </div>
</div>