<ion-content class="oy_bg">
    <div class="top_img">
        <img src="http://pic.ofcard.com/cards/standard/img/one_yuan02.jpg">
    </div>
    <div class="oy_con">
        <a class="re_btn" href="/mobile/mobilecommon/abc?menu=phonerecharge#/phonerecharge">立即充值</a>
        <div class="rule_title">
            <img src="http://pic.ofcard.com/cards/standard/img/rule_01.jpg">
        </div>
        <div class="oy_artical">
            <p>1、活动时间：2016年<span>7</span>月<span>1</span>日-<span>9</span>月<span>30</span>日</p>
            <p>2、活动地区：<span>南京</span></p>
            <p>3、活动对象：<span>农行网点新注册掌银k令客户</span></p>
            <p>4、参与步骤：</p>
            <p>（1）掌银新注册客户下载掌银客户端APP至手机；</p>
            <p>（2）凭网点领取兑换券通过关注“<span>南京农行微服务</span>”微信公众号，进入“电子商务”-“充值平台”-“活动专区”中“1元买20元话费”栏目；</p>
            <p>（3）点击立即充值，通过验证后点击优惠券红包，输入抵用券号即可绑定兑换券，返回购买页，充值20元话费时，会提示支付1元，点击支付跳转至农行页面后通过登录掌银-选择卡号-成功完成1元订单支付后即可获得20元话费。 </p>
            <p>5、活动说明：充值手机号支持移动、联通及电信运营商。</p>
            <p>6、客服电话：<span>025-69828599</span></p>
        </div>
    </div>
</ion-content>