<div class="nh_index">
    <ul>
        <li class="nh_act1">
            <div class="act_con fl">
                <h1>农行话费5折</h1>
                <h2>5折抽话费，惊喜等你来！</h2>
            </div>
            <div class="act_btn01 fr">
                <a ui-sref="index({type:'0'})" >立即参与</a>
            </div>
        </li>
        <li class="nh_act2" ng-hide="true">
            <div class="act_con fl">
                <h1>10元话费只需1分钱</h1>
                <h2>手机话费充值，掌银邀约客户专享</h2>
            </div>
            <div class="act_btn01 fr">
                <a href="">立即参与</a>
            </div>
        </li>
        <li class="nh_act3">
            <div class="act_con fl">
                <h1>新注册用户，1元买20元话费</h1>
                <h2>掌银网点新注册用户，1元买20元话费</h2>
            </div>
            <div class="act_btn01 fr">
                <a ui-sref="act3recharge">立即参与</a>
            </div>
        </li>
        <li class="nh_act4" ng-hide="true">
            <div class="act_con fl">
                <h1>南京移动话费93折</h1>
                <h2>南京移动话费93折</h2>
            </div>
            <div class="act_btn01 fr">
                <a href="">立即参与</a>
            </div>
        </li>
    </ul>
</div>
