<ion-content class="content content-activity content-activity-AgriculturalBank content-activity-AgriculturalBank03">
    <div class="activ-n activ-bg">
        <img src="http://pic.ofpay.com/cards/standard/img/lottery-title-AB-small.png" alt="奖品列表">
    </div>

    <div class="activ-con" ng-if="'' == prizes">
        <p class="activ-noWin">还没有中奖纪录哦~</p>
        <p class="activ-noWin">温馨提示：如果您抽中奖品，但未显示，请<a ui-sref="index({type:'1'})" style="color: #fce954;text-decoration: underline;">重新登录</a></p>
        <a class="btn" ui-sref="index">返回主页面</a>
    </div>

    <div class="list-dl" ng-if = "''!= prizes">

        <dl class="" href="" ng-repeat="prize in prizes">
            <dd>
                <!--<img src="../img/win-title.png">
                <p>2</p>
                <u></u>-->
            </dd>
            <dt>
            <div class="fr-dt">
                <img src="http://pic.ofpay.com/cards/standard/img/win-phone.png" alt="话费">
                <p class="p-win p-win02">{{prize.cash * 2}}</p>
                <div class="win-fr">
                    <p>五折优惠券</p>
                    <div class="center"><a class="button button-small" href="/mobile/mobilecommon/abc?menu=phonerecharge&rechargeAccount={{mobileNo}}&faceValue={{prize.cash * 2}}#/phonerecharge">立即充值</a></div>
                </div>
            </div>
            </dt>
        </dl>

    </div>

</ion-content>