<ion-content class="content content-activity content-activity-img content-activity-AgriculturalBank content-activity-AgriculturalBank02">
    <div class="activ-con">
        <a class="btn mt30" ui-sref="index">返回上一页</a>
        <div class="rule activ-rule">
            <p>活动时间：<span>2016</span>年<span>2</span>月<span>3</span>日至2016年<span>12</span>月<span>31日</span></p>
            <p>活动主题：<span>5折<span>购话费</span></span></p>
            <p>活动对象：<span>农行掌银、K码客户<span></span></span></p>
            <p>活动区域：南京</p>
            <div class="use-en01">
                <p>
                    <span></span>
                    <span>活动规则</span>
                    <span></span>
                </p>
                <ul>
                    <li>1、本次活动仅限南京地区手机号。每周<span>限量400份</span>，每周一上午10点开始抢，先到先得，抢完为止，每人每周限购<span>1</span>次，优惠券有效期至当周周日凌晨12点，期间没有兑换的优惠券将视为作废。</li>
                    <li>2、兑换话费优惠券时需要用中国农业银行卡进行支付。</li>
                    <li>3、本活动支持农行掌银和K码支付，不支持信用卡。</li>
                    <li>4、本次活动将不提供充值话费发票。</li>
                    <li>5、客服电话：<a href="tel:025-69828599">025-69828599。</a></li>
                    <li>
                        <button class="btn-service" onclick="window.location.href='http://kefu.easemob.com/webim/im.html?tenantId=12358'"><i></i>在线客服</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>